$font-headline: 30px;
$font-headline-lineheight: 32px;
$font-headline-fontweight: 600;
$font-headline-fontstyle: normal;

$font-subhead: 20px;
$font-subhead-lineheight: 22px;
$font-subhead-fontweight: 600;
$font-subhead-fontstyle: normal;

$font-body: 16px;
$font-body-lineheight: 18px;
$font-body-fontweight: 500;
$font-body-fontstyle: normal;

$font-caption: 14px;
$font-caption-lineheight: 16px;
$font-caption-fontweight: 400;
$font-caption-fontstyle: normal;
