:root {
  --color-headline: #{$white};

  --color-subhead: #{$white};
  --color-subhead-depressed: #{$grey-light};

  --color-body: #{$white};
  --color-body-depressed: #{$grey-light};

  --color-caption: #{$white};
  --color-caption-depressed: #{$grey-light};

  --background: radial-gradient(
    70.24% 70.24% at 49.87% 29.76%,
    rgba(18, 12, 1, 0.9) 0%,
    #000000 100%
  );
}

.theme_light {
  --color-headline: #{$black};

  --color-subhead: #{$black};
  --color-subhead-depressed: #{$grey};

  --color-body: #{$black};
  --color-body-depressed: #{$grey};

  --color-caption: #{$black};
  --color-caption-depressed: #{$grey};

  --background: #ffffff;
}
